html, body
  margin 0
  padding 0
  height 100%

#app, #page
  height 100%

.list
  width 400px
  height 100%
  border-right 1px solid #888
  float left

.detail
  float left
  margin-left 16px

.actionButton
  position fixed
  right 16px
  bottom 16px